---

- name: add apt_repositorys from official script
  command: bash -c 'curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -'

- name: install nodejs
  apt:
    name: nodejs

- name: install pm2
  npm:
    name: pm2
    global: yes
